<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login System</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <%- include("header.ejs") %>
    <main>
      <h1><%=locals.category%></h1>
    </main>
    <footer>
      <center>loginsystem &copy; <%=new Date().getFullYear()%></center>
    </footer>
  </body>
</html>
